<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/parrots"
        android:label="@string/app_name"
        android:roundIcon="@drawable/parrots"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".recycling.Recommendations"
            android:exported="false"/>
        <activity
            android:name=".recycling.Game"
            android:exported="false" />
        <activity
            android:name=".recycling.Health"
            android:exported="false" />
        <activity
            android:name=".recycling.Speak"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".recycling.Chat"
            android:exported="false" />
        <activity
            android:name=".recycling.Cages"
            android:exported="true" />
        <activity
            android:name=".recycling.Training"
            android:exported="true" />
        <activity
            android:name=".recycling.Gallery"
            android:exported="true" />
        <activity
            android:name=".recycling.Home"
            android:exported="true" />
        <activity
            android:name=".AboutParrots"
            android:exported="true" />
        <activity
            android:name=".Info"
            android:exported="true" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>